span,p{
  /*background: green;*/
  color: black;
  font-size: 24px;
  /*font-weight: bold;*/
  font-style: italic;
  line-height: 40px;
}
/*
span{
	color: aqua;
}

*/

p{
	color: red;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 40px;

	padding: 10px 50px 0px 40px;

	border-top: 1px green solid;
	border-bottom: 3px aqua solid;

	border: 2px green solid;
	border-radius: 30px 30px 30px 0px;

	margin-bottom: 200px;
	margin-left: 100px;
	
}
.color_green{
	color: black;
	font-size: 10;
	
}

.bold{
	font-weight: bold;
	font-size: 42;
}

#my_first_id{
	background: #ffff00;
}

/*
.color_green{
	background: green ;
}

span{
	background: #ff0000;
}

span span{
	background: #00ff00;
}

span span span{
	background: #ffff00;
}
*/
.fix_left{
	position: fixed;
	margin-left:0;
	right:0;
	margin-top: 0;
	bottom: 0;
	background: green;
	padding: 10px 50px 0px 40px;

	border-top: 1px green solid;
	border-bottom: 3px aqua solid;

	border: 2px green solid;
	border-radius: 10px 10px 10px 10px;

}

.child, .parent{
	width: 100px;
	height: 100px;
	background: #888888;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0;
}

.child{
	position: absolute;
}

.parent{
	width: 300px;
	height: 300px;
	background: #aaa;
}
.child2{
	margin-left: 200px;
	margin-left: 100px;
}

.child3{
	margin-top: 200px;
	margin-left: 100;
}
.child4{
	margin-top: 100px;
	margin-left: 0px;
}
.child5{
	margin-top:  100px;
	margin-left: 200px;
}